<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="LoginTest" preserve-order="true">
		<classes>
			<class name="test.LoginTest">
				<methods>
					<include name="login" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="ProfileTest" preserve-order="true">
	<classes>
	<class name="test.ProfileTest">
				<methods>
					<include name ="selectprofile"/>
					<include name ="updatepro"/>
				</methods>
			</class>
		</classes>
	</test>
	 <!--  <test name="SettingsTest" preserve-order="true">
		<classes>
			<class name="tests.SettingsTest">
				<methods>
					<include name="coursesettings"/>
				</methods>
			</class>
		</classes>
	</test> 

    <test name="BadgeTest" preserve-order="true">
		<classes>
			<class name="test.BadgeTest">
				<methods>
					<include name="badgetemplate"/>
				</methods>
			</class>
		</classes>
	</test>

<test name="CertificateTest" preserve-order="true">
		<classes>
			<class name="test.CertificateTest">
				<methods>
					<include name="certificatesettings"/>
				</methods>
			</class>
		</classes>
	</test>
<test name="AlertbuttonTest" preserve-order="true">
		<classes>
			<class name="test.AlertbuttonTest">
				<methods>
					<include name="alertsettings"/>
				</methods>
			</class>
		</classes>
	</test>

<test name="RbacsettingsTest" preserve-order="true">
		<classes>
			<class name="test.RbacsettingsTest">
				<methods>
					<include name="rbacsettings"/>
				</methods>
			</class>
		</classes>
	</test> -->
</suite>
